.night {
  border-radius: 25px;
  padding: 8px 10px;
  border: 0;
  position: fixed;
  top: 0px;
  right: -5px;
  font-size: large;
  background-color: transparent;
}

.day {
  font-size: large;
  background-color: transparent;
  border-radius: 25px;
  padding: 8px 10px;
  border: 0;
  position: fixed;
  top: 0px;
  right: -5px;
}
h1 {
  display: flex;
  position: relative;
}
.night:hover {
  border: 0;

  font-size: larger;
}
.day:hover {
  border: 0;

  font-size: larger;
}
.toggle {
  display: flex;
  margin: 0;
}
.project .container {
  margin: 0;
}
